@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
.dekstop{
 position: relative;
 width: 1280px;
 height: 1280px;
 display: flex;
}
h2{
  position: absolute;
width: 365px;
height: 93px;
left: 132px;
top: 91px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 101.38%;
}
.text-container{
 position: absolute;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 150%;

 width: 662px;
 height: 374px;
 left: 124px;
 top: 205px;
}
.img{
position: absolute;
width: 314px;
height: 315px;
left: 976px;
top: 226px;
}
.img1{
position: absolute;
width: 232px;
height: 203px;
left: 124px;
top: 670px;
}
th{
 text-align: left;
}
.sinif1{
 position: absolute;
width: 150px;
height: 39px;
left: 488px;
top: 740px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 130%;

}
.sinif2{
position: absolute;
width: 150px;
height: 39px;
left: 488px;
top: 780px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;

}
.sinif3{
position: absolute;
width: 150px;
height: 39px;
left: 733px;
top: 740px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 130%;

}
.sinif4{
 position: absolute;
width: 150px;
height: 39px;
left: 733px;
top: 780px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;

}
.sinif5{
 position: absolute;
 width: 150px;
 height: 39px;
 left: 976px;
 top: 740px;

 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 font-size: 25px;
 line-height: 130%;
 
}
.sinif6{
position: absolute;
width: 150px;
height: 39px;
left: 976px;
top: 780px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 130%;
}
.ellipsbir{
 position: absolute;
width: 366px;
height: 59px;
left: 950px;
top: 511px;
}
.ellipsiki{
 position: absolute;
width: 189px;
height: 32px;
left: 157px;
top: 857px;

}
@media (max-width: 834px) {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

    .dekstop{
        position: relative;
        width: 1280px;
        height: 1280px;
        display: flex;
    }
    }
    h2{
        position: absolute;
        width: 211.4px;
        height: 53.86px;
        left: 70.08px;
        top: 612.17px;
        
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;
    }
    .text-container{
        position: absolute;
        width: 383.41px;
        height: 216.61px;
        left: 70.08px;
        top: 676.46px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
    .img{
        position: absolute;
        width: 181.86px;
        height: 182.44px;
        left: 563.53px;
        top: 690.36px;
    }
    .img1{
        position: absolute;
        width: 134.37px;
        height: 117.57px;
        left: 70.08px;
        top: 947.51px;
    }
    .sinif1{
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 280.9px;
        top: 988.05px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
    
    }
    .sinif2{
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 280.9px;
        top: 1011.22px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
    
    }
    .sinif3{
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 422.79px;
        top: 988.05px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
    
    }
    .sinif4{
        position: absolute;
        width: 108px;
        height: 23px;
        left: 423px;
        top: 1011px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
    
    }
    .sinif5{
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 563.53px;
        top: 988.05px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 130%;
        
        
    }
    .sinif6{
        position: absolute;
        width: 86.88px;
        height: 22.59px;
        left: 563.53px;
        top: 1011.22px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
    }
    .ellipsbir{
        position: absolute;
        width: 211.98px;
        height: 34.17px;
        left: 548.47px;
        top: 855.42px;
    }
    .ellipsiki{
        position: absolute;
        width: 109.46px;
        height: 18.53px;
        left: 89.19px;
        top: 1055.81px;  
    }

@media (max-width: 375px) {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

    .dekstop{
        position: relative;
        width: 1280px;
        height: 1280px;
        display: flex
    }
    h2{
        position: absolute;
        width: 170.08px;
        height: 43.34px;
        left: 36px;
        top: 636px;
        
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 101.38%;
    }
    .text-container{
        position: absolute;
        width: 308.47px;
        height: 174.27px;
        left: 36px;
        top: 687.72px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
    }
    .img{
        position: absolute;
        width: 146.32px;
        height: 146.78px;
        left: 113.12px;
        top: 918px;
    }
    
    .sinif1{
        position: absolute;
        width: 69.9px;
        height: 18.17px;
        left: 35px;
        top: 1124px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
    
    }
    .sinif2{
        position: absolute;
        width: 86px;
        height: 18px;
        left: 35px;
        top: 1143px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
    
    }
    .sinif3{
        position: absolute;
        width: 69.9px;
        height: 18.17px;
        left: 154.16px;
        top: 1124px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
    
    }
    .sinif4{
        position: absolute;
        width: 86.89px;
        height: 18.5px;
        left: 154.33px;
        top: 1142.46px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
    
    }
    .sinif5{
        position: absolute;
        width: 69.9px;
        height: 18.17px;
        left: 35px;
        top: 1195px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%; 
    }
    .sinif6{
        position: absolute;
        width: 76px;
        height: 18px;
        left: 35px;
        top: 1214px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
    }
    .ellipsbir{
        position: absolute;
        width: 170.55px;
        height: 27.49px;
        left: 101px;
        top: 1050.8px;
    }
    #imgiki{
        display: none;
    }
}